body{
    margin: 0;
}


header{
    height: 100px;
    background-color: #a2a8d3;
}
#connectWallet{
    float: right;
    margin-right: 80px;
    margin-top: 35px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: white;
    border-color: #e7eaf6;
    border-style: solid;
    color: #9ba6a5;
}
#connectWallet:hover{
    background-color: #d9dad7;
    border-color: #9ba6a5;
}
#walletAddress{
    margin-top: 0;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
    border-radius: 10px;
    border-color: #e7eaf6;
    color: #9ba6a5;
    background-color: white;
}
#align{
    padding-top: 35px;
}